@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<<<<<<< HEAD

Hola William  2
=======
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
holiboli xD
>>>>>>> 37ea4f03c7f042883bb0ddda91a64f685ce28014

